services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: db
    volumes:
      - data:/var/lib/postgresql
    ports:
      - 5432:5432
volumes:
  data: