services:
  app:
    #image: community-homepage
    image: tarof429/community-homepage:1.0
    environment:
      - FLASK_APP=app.py
      - FLASK_DEBUG=True
      - RUNTIME_MODE=prod
      - DATABASE_URI=postgresql://admin:secret@db:5432/db
    ports:
      - 5000:5000
    depends_on:
      db:
        condition: service_healthy
        restart: true
  db:
    image: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: db
    ports:
      - 5432:5432
    volumes:
      - data:/var/lib/postgresql
volumes:
  data: